/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  padding: 200px;
  text-align: center;
  background-image: url("pemandangan.img.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 30px;
}

/* Content */
.content {
  padding: 20px;
  width: 50%;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-left: 20px;
  position: relative;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  display: block;
}

.navbar-links a:hover {
  color: #ddd;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile Menu */
.navbar-checkbox {
  display: none;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    margin: 0;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-checkbox:checked + .navbar-toggle + .navbar-links {
    display: flex;
  }

  .dropdown-content {
    position: relative;
  }
}