body{
    font-family: Verdana;
}

.pagination ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.pagination ul li {
    margin: 0 5px;
}

.pagination ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination ul li a:hover {
    background-color: #3399ff;
}

.pagination ul li a.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
